
<div id="main-div" #mainDiv>
    <div class="ui-g">
      <div id="columna-izquierda" class="ui-g-2"  *ngIf="mostrarBarraLateral">    
          
          <div id="drag-div"  pDroppable="entidad" (onDrop)="onDrop(null)">
            <p i18n>Entidades <i class="fa fa-angle-double-left iconoOcultar" (click)="toogleColumnaLateral()"></i> </p>
            <div id="filtro"><label>Filtro: </label><input [(ngModel)]="filtro" /></div>
            <div id="elementos">
              <div *ngFor="let entidad of getEntidadesSinPos(); let i= index" class="dragElement" (onDragStart)="onDrag(entidad)" pDraggable="entidad" dragHandle=".fa-user" (click)="mostrarDatos(entidad)" >                
                <ng-container *ngIf="templateBarra">
                  <ng-container *ngTemplateOutlet="templateBarra; context: {$implicit: entidad.objeto}"></ng-container>
                </ng-container>
                <ng-container *ngIf="!templateBarra">
                  <i class="fa fa-user"></i>
                  <p>{{entidad.titulo}}</p>
                </ng-container>
              </div>
            </div>
          </div>          
      </div>
      <div class="ui-g-0 colOculta" *ngIf="!mostrarBarraLateral">
          <p><i class="fa fa-angle-double-right iconoOcultar" (click)="toogleColumnaLateral()"></i> </p>
      </div>                
      <div id="columna-derecha" [ngClass]="{'ui-g-10': mostrarBarraLateral, 'ui-g-11': !mostrarBarraLateral}">
          <div id="drop-div">
            <div class="tabla" #tabla>
              <div class="fila" *ngFor="let fila of organizador.listaFilas">
                    
                    <div [ngStyle]="col.getSizePx()" class="columna"   *ngFor="let col of fila.celdas" [attr.fila]="i" [attr.columna]="j">
                      <div class='filler' (onDrop)="onDrop(col)"  pDroppable="entidad" *ngIf='droppable(col)'>
                        <div  *ngIf="col.initElemento()"  [ngClass]="col.elemento.getClasses()" [ngStyle]="col.elemento.getEstilo()">                                                  
                            <div pDraggable='entidad' (click)="mostrarDatos(entidad)" (onDragStart)="onDrag(entidad)" class='entidad' *ngFor="let entidad of col.elemento.entidades">                                

                                <ng-container *ngIf="templateTabla">
                                    <ng-container *ngTemplateOutlet="templateTabla; context: {$implicit: entidad.objeto}"></ng-container>
                                  </ng-container>
                                  <ng-container *ngIf="!templateTabla">
                                    <i class="fa fa-user"></i>
                                    <span>{{entidad.titulo}}</span>
                                  </ng-container>
                                
                            </div>
                            <ng-container *ngIf="templateElemento">
                                <ng-container *ngTemplateOutlet="templateElemento; context: {$implicit: col.elemento}"></ng-container>
                            </ng-container>
                            <ng-container *ngIf="!templateElemento">
                              <div class="filler" [ngStyle]="{'background-color': col.elemento.color}"></div>
                            </ng-container>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>          
      </div>
    </div>
  </div>
